minimum-release-age=1440
block-exotic-subdeps=true
strict-dep-builds=true
package-manager-strict-version=true
verify-store-integrity=true
only-built-dependencies[]=esbuild
only-built-dependencies[]=sharp
only-built-dependencies[]=spawn-sync
